
.hd1 h1{
  text-align: center;
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  background:linear-gradient(45deg,blue,rgb(14, 187, 144),red);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family:'Carattere',cursive;
  }
  .row1{
    width:50%;
    /* position: relative; */
    text-align: center;  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row2{
      text-align: right;
      /* display:flex; */
     
      width:50%;
      overflow-wrap: break-word;
  }
  .description , .found-in, .food-habit{
    margin:2%;
    margin-top: 2%;
    /* font-size: medium; */
    font-family:'Raleway', sans-serif;
    
  }
  .img{
    text-align: center;
    margin: 48px;
    height:300px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;  
  }
  .flex-container{
      width:100%;
      display:flex;
      flex-wrap: wrap;
  }
  p
  {
    text-align: justify;
  }
  .birds-name{
      font-weight: bold;
      font-size: 50px;
      color:rgb(8, 131, 121); 
      text-shadow: 1px 1px black;
      /* font-family: Arial, Helvetica, sans-serif; */
      font-family:Aladin-Regular;
      text-align: right;
      margin: 2%;

      
  }
  .scientific-name{
  font-style: italic;
  font-size: x-large;
  margin-top:2%;
 text-align: right;
 padding-right: 1rem;
  }
  @media (max-width:730px) {
    .row1{
      width:100%;
      text-align: center;
    }
    .row2{
      width:100%;
    }
    .hd1 h1{
      font-size: 35px;
    }
    img{
      width: 240px;
      height: 240px;
      text-align:left;
    margin: 10px;
    }
  }