:root {
    --cprimary-color: #1e104a;
    --csecondary-color: white;
    --cmail-color: #1e104a;
    --chover-color: #1e104a;
}

.dark-theme {
    --cprimary-color: white;
    --csecondary-color: #1e104a;
    --cmail-color: #8086ed;
    --chover-color: white;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: var(--csecondary-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    height: 400px;
    width: 300px;
    margin: 10px;
    color: var(--cprimary-color);
    zoom : 0.7;
}
/* to be implemented after fixing SVG */
/* #tooltip{
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 80px;
    bottom:0;
}
.card:hover #tooltip{
    visibility: visible;
} */
.card .image img {
    border-radius: 50%;
    height: 150px;
}

.card .data {
    display: flex;
    justify-content: space-evenly;
    /* background-color: #8086ed; */
    margin-top: 30px;
}

h1 {
    margin-top: -10px;
    font-size: 2vw;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.email_id a {
    text-decoration: none;
    background-color: var(--cmail-color);
    padding: 5px;
    border-radius: 8px;
    color: var(--csecondary-color);
    z-index: 1000;
}

.email_id {
    margin-bottom: 10px;
}


/* .link a:hover {
    color: white !important;
} */

.outline {
    position: absolute;
    overflow: hidden;
    height: 60px;
    margin-top: 17px;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 25%;
    width: 160px;
    left: -38.1px;
    top: -9.7px;
    zoom: 5.2;
    z-index: 1000;
    /* background-color: #1e104a; */
}
a{
    z-index: 10000;
}
/* media queries */
@media screen and (max-width: 768px) {
  .cards{
      flex-direction : column;
      justify-content: center;
    }
}
