
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
}

.dogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.dog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    max-width: 15rem;
    margin-bottom: 5rem;
    border: 2px solid rgba(36, 75, 182, 0.445);
    box-shadow: 0 5px 30px rgba(211, 77, 24, 0.24), 0 -5px 30px rgba(36, 75, 182, 0.445);
}

.image {
    width: 15rem;
    height: 13rem;
}

.name {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 700;
}