body{
    height: 100vh;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #e4c662 100%);
    font-family: 'Lato', sans-serif !important;
}
.flex-container{
    justify-content: center;
    padding: 0 7%;
    padding-top: 40px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 350px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 30px;
    
}
.darkmode--activated .box {
    mix-blend-mode: difference;
  }
.box .gallery,
.box .flip{
    position: absolute;
    width: 400px;
    height: 350px;
    border-radius: 20px;
    background: rgb(231, 6, 252);
    backface-visibility: hidden;
    cursor: pointer;
    box-shadow: 0 5px 30px rgba(212, 147, 121, 0.24), 0 -5px 30px rgba(218, 53, 3, 0.945);
    transition: transform .4s;
}
.box .flip{
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: perspective(800px) rotateX(-180deg);
}
.box .flip p{
    margin: 10px 20px;
    text-align: center;
    background-color: rgba(219, 181, 219, 0.925)
}
.box .gallery img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
}
.box:hover .gallery{
    transform: perspective(800px) rotateX(180deg);
    border-radius: 20px;
}
.box:hover .flip{
    border-radius: 20px 20px 0 0;
    transform: perspective(800px) rotateX(0);
    border-radius: 20px;
}
.hd1 h1{
    text-align: center;
    font-size: 60px ;
    margin-top: 20px;
    margin-bottom: 20px;
    color: darkred;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.darkmode-layer, .darkmode-toggle {
    z-index: 500;
}
.box {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
