body{
    height: 100vh;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Lato', sans-serif !important;
}
.flex-container{
    justify-content: center;
    padding: 0 10%;
    padding-top: 40px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    position: relative;
    margin: 40px auto;
}
.box .gallery,
.box .flip{
    position: absolute;
    width: 350px;
    height: 250px;
    background: white;
    backface-visibility: hidden;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(211, 77, 24, 0.24), 0 -5px 30px rgba(36, 75, 182, 0.445);
    transition: transform .4s;
}
.box .flip{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: perspective(800px) rotateX(-180deg);
}
.box .flip p{
    margin: 10px 20px;
    text-align: center;
}
.box .gallery img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
}
.box:hover .gallery{
    transform: perspective(800px) rotateX(180deg);
}
.box:hover .flip{
    border-radius: 20px 20px 0 0;
    transform: perspective(800px) rotateX(0);
}
.hd1 h1{
    text-align: center;
    font-size: 60px ;
    margin-top: 20px;
    margin-bottom: 20px;
}