body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    background-image: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    color: var(--color);
}

.pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    max-width: 15rem;
    margin-bottom: 5rem;
    border: 2px solid blueviolet;
}

.image {
    background-color: #E8E8E8;
    height: 150px;
    width: 150px;
}

.name {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 700;
}


/*-- DARK THEME CSS--*/
.darkmode-toggle {
  z-index: 500;
}
:root{
  --primary-color: #f5f7fa;
  --secondary-color: #c3cfe2;
  --color:#000;
}

.dark-theme{
  --primary-color:#1b1919;
  --secondary-color:#000;
  --color:#fff;
}
